@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$nav-font: 'Montserrat';

@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');
$login-font: 'News Cycle';

$font-size-small: 19px;
$font-size-medium: 24px;
$font-size-tall: 32px;