$mobile: 360px;
$laptop: 1024px;
$desktop: 1400px;

@mixin mobile {
    @media screen and (max-width: $mobile){
        
    }
}

@mixin laptop {
    @media screen and (min-width: $laptop){
        
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop){
        
    }
}