$bp_mobile: 360px;
$bp_tablet: 768px;
$bp_laptop: 1024px;
$bp_desktop: 1400px;

@mixin for-mobile {
    @media screen and (min-width: $bp_mobile){
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: $bp_tablet){
        @content;
    }
}

@mixin for-laptop {
    @media screen and (min-width: $bp_laptop){@content;}
}

@mixin for-desktop {
    @media screen and (min-width: $bp_desktop){ @content; }
}