extends ../templates/template
block title
    title Acerca de | Latam Rivals
block main
    h1.main-section__title Acerca de
    section.main-section
        p.main-section__paragraph Somos entusiastas de League of Legends que quieren brindar diversion y competitividad a la comunidad, dentro de nuestros planes esta crear una plataforma donde personas puedan disfrutar y demostrar su valia contra otros jugadores dentro de la grieta y crear una escena más competitiva en el mundo de League of Legends aquí en México. 