extends ../templates/template
block title
    title Equipos | Latam Rivals
block main
    h1.team-section__title Equipos
    section.team-section
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_zhe.png", alt="Zanahorias Estelares [ZHE]")
                .team-section__name Zanahorias Estelares
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_inf.png", alt="Infinity Esports [INF]")
                .team-section__name Infinity Esports
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_ldm.png", alt="Liga del Mal [LDM]")
                .team-section__name Liga del Mal
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_tek.png", alt="TEK Gaming [TEK]")
                .team-section__name TEK Gaming