extends ../templates/template
block title
    title Estadísticas | Latam Rivals
block main
    h1.main-section__title Estadísticas
    section.main-section
        p.main-section__paragraph No hay estadísticas de torneos aún.