extends ../templates/template
block title
    title FAQ | Latam Rivals
block main
    h1.main-section__title FAQ - Preguntas frecuentes
    section.main-section
        p.main-section__paragraph No hay preguntas frecuentes de momento. ¡Dejanos tus comentarios!