extends ../templates/template
block title
    title Historial | Latam Rivals
block main
    h1.main-section__title Historial
    section.main-section
        p.main-section__paragraph No se encontraron torneos anteriores.