extends ../templates/template
block title 
    title Latam Rivals
block main
    img.main__logo(src="./assets/images/logo/LATAM_negro.png", alt="Latam Rivals Logo")
    h1.main-section__title ¿Qué es Latam Rivals?
    section.main-section
        p.main-section__paragraph ¡BIENVENIDO A LA GRIETA DEL INVOCADOR! Somos entusiastas de League of Legends que quieren brindar diversion y competitividad a la comunidad, dentro de nuestros planes esta crear una plataforma donde personas puedan disfrutar y demostrar su valia contra otros jugadores dentro de la grieta.
    h2.team-section__title Equipos
    section.team-section
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_zhe.png", alt="Zanahorias Estelares [ZHE]")
                .team-section__name Zanahorias Estelares
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_inf.png", alt="Infinity Esports [INF]")
                .team-section__name Infinity Esports
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_ldm.png", alt="Liga del Mal [LDM]")
                .team-section__name Liga del Mal
        .team-section__teams
            a.team-section__link(href="#")
                img.team-section__logo(src="/assets/images/teams/team_tek.png", alt="TEK Gaming [TEK]")
                .team-section__name TEK Gaming
    h2.news-section__title Novedades
    section.news-section
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 1")
                .news-section__name Noticia 1
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 2")
                .news-section__name Noticia 2
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 3")
                .news-section__name Noticia 3
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 4")
                .news-section__name Noticia 4