extends ../templates/template
block title
    title Noticias | Latam Rivals
block main
    h1.news-section__title Novedades
    section.news-section
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 1")
                .news-section__name Noticia 1
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 2")
                .news-section__name Noticia 2
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 3")
                .news-section__name Noticia 3
        .news-section__news
            a.news-section__link(href="")
                img.news-section__img(src="/assets/images/news/news_default.png", alt="Noticia 4")
                .news-section__name Noticia 4