extends ../templates/template
block title
    title Brackets | Latam Rivals
block main
    h1.main-section__title Posiciones
    section.main-section
        p.main-section__paragraph No hay brackets de posiciones aún.