extends ../templates/template
block title
    title Torneos | Latam Rivals
block main
    h1.main-section__title Torneos
    section.main-section
        p.main-section__paragraph Vuelve pronto para ver los futuros torneos.